#OS junk files
[Tt]humbs.db
*.DS_Store

#IntelliJ files
.Python
*.iml
.idea/*

#virtualenv files
__pycache__/*
lib/*
bin/*
include/*

#Misc files
*.swp
*.pcl
*.pkl
*.kml
*.pdf
*.pyc
*.zip
*.png

# Large data files
*gz_2010*

#Project files
old/*
output/*
documentation/*
propagation_models/fcurves/old/*
*.so
*.exe
*.bat
